:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --pdding: 5%;
  --height: 440px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding-left: var(--pdding);
  padding-right: var(--pdding);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--section-background);
  border-bottom: 1px solid var(--main-color);
}

nav img {
  width: 3.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
}

nav .link {
  position: relative;
}
nav .link .button {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
  cursor: pointer;
}

nav .link .button span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

nav .link .button:hover span:nth-child(2) {
  width: 100%;
}

nav .link .button span:first-child {
  width: 100%;
}

nav .link .button span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

nav .link .button span:last-child {
  width: 100%;
}

nav .link ul {
  list-style: none;
  background-color: rgba(119, 119, 119, 0.164);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100%);
  display: none;
  z-index: 100;
}

nav ul.is-avtive {
  display: block;
}

nav .link ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent rgba(119, 119, 119, 0.164) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

nav .link ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 15px;
  color: #333;
  transition: 0.3s;
}

nav .link ul li a:hover {
  padding-left: 25px;
  color: var(--main-color);
}
nav .link ul li a:active {
  color: var(--main-color);
}

nav .link ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.home .content {
  background-image: url("../img/bkih.jpg");
  flex-grow: 1;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .content .container-text {
  width: 300px;
}

.home .content .container-text h1 {
  text-align: center;
  color: var(--main-color);
  font-size: 3rem;
  font-weight: bold;
}

.home .content .container-text p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.5rem;
  /* letter-spacing: .12rem; */
  opacity: 0.7;
}

/*---------------------------------------------------------------------*/

.about {
  background-color: var(--section-background);
}

.about .box {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 6.5rem;
  padding-top: 4.5rem;
}

.about .card {
  width: 290px;
  text-align: center;
}

.about .card em {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about .card h3 {
  font-size: 1.05rem;
  font-weight: 800;
}

.about .card p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  opacity: 0.6;
  line-height: 2rem;
}

/*------------------------------------------------------------------*/

.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 3rem;
}

.services .container-text {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

.services .container-text h1 {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #ebeced;
  letter-spacing: -3px;
}

.services .container-text p {
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
  color: #797979;
  letter-spacing: 0.8px;
}

.services .box {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1%;
}

.services .contnet-card {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.services .box .contnet-card .card {
  width: 430px;
  display: flex;
  justify-content: space-between;
}

.services .box .contnet-card .card em {
  color: var(--main-color);
  font-size: 2.5rem;
  margin-right: 1rem;
}

.services .box .contnet-card .card .font {
  width: 90%;
  margin-bottom: 2.5rem;
}

.services .box .contnet-card .card .font p {
  margin-top: 2rem;
  opacity: 0.6;
  line-height: 2rem;
  font-size: 1.3rem;
}

.contnet-dez {
  width: 30%;
  height: 550px;
  display: flex;
  justify-content: center;
}

.contnet-dez .back {
  width: 120px;
  background-color: var(--secondary-color);
}

.contnet-dez .img {
  width: 70%;
  height: 550px;
  display: flex;
  align-items: center;
  position: relative;
  left: 4rem;
}

.contnet-dez .img img {
  width: 350px;
  height: 420px;
}

/*------------------------------------------------------------------------*/

.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--section-background);
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio .container-text {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

.portfolio .container-text h1 {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #ebeced;
  letter-spacing: -3px;
}

.portfolio .container-text p {
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
  color: #797979;
  letter-spacing: 0.8px;
}

.portfolio .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.portfolio .box .card {
  width: 31.5%;
  background-color: #fff;
}

.portfolio .box .card img {
  width: 100%;
}

.portfolio .box .card .contnet-text {
  margin: 1rem;
}

.portfolio .box .card .contnet-text h2 {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.portfolio .box .card .contnet-text p {
  margin-top: 1rem;
  line-height: 1.5rem;
  color: #777;
}

/*----------------------------------------------------------------------------*/

.aboutx {
  padding-bottom: 4rem;
}

.aboutx .container-text {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

.aboutx .container-text h2 {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #ebeced;
  letter-spacing: -3px;
}

.aboutx .container-text p {
  text-align: center;
  font-size: 20px;
  margin-top: -35px;
  color: #797979;
  letter-spacing: 0.8px;
}

.aboutx .box {
  display: flex;
  justify-content: space-between;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.aboutx .box .des {
  width: 40%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.aboutx .box .des .backgred {
  width: 22%;
  height: var(--height);
  background-color: #7979791f;
}

.aboutx .box .des .img {
  width: 60%;
  height: var(--height);
  display: flex;
  align-items: center;
  position: absolute;
  left: 1.5rem;
}

.aboutx .box .des .img img {
  width: 90%;
  z-index: 1;
}

.aboutx .box .des .full {
  width: 35%;
  height: 400px;
  position: relative;
  right: 4rem;
  display: flex;
}

.aboutx .box .des .back {
  width: 50%;
  height: 340px;
  background-color: var(--main-color);
}

.aboutx .box .des .back1 {
  width: 50%;
  height: 180px;
  background-color: var(--main-color);
  transform: rotate(-90deg);
  position: absolute;
  bottom: -2rem;
  left: 5rem;
}

.aboutx .box .content-text {
  width: 48%;
  height: var(--height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

.aboutx .box .content-text #p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8rem;
}

hr {
  border-color: var(--main-color);
  width: 50%;
  margin: 3rem 0;
}

.aboutx .box .content-text #p1 {
  font-size: 1rem;
  color: #797979;
  line-height: 1.8rem;
}

/*-----------------------------------------------------------------------------------------------*/

.contact {
  display: flex;
  flex-direction: column;
  background-color: var(--section-background);
}

.contact .content-text {
  text-align: center;
}

.contact .content-text h2 {
  font-size: 5.2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #ebeced;
  letter-spacing: -3px;
}

.contact .content-text p {
  font-size: 20px;
  margin-top: -35px;
  color: #797979;
  letter-spacing: 0.8px;
}

.contact .container-text {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contact .container-text h3 {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -2px;
}

.contact .container-text a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: 800;
}

.contact .container-text .textbig {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.contact .container-text .textbig .text {
  display: flex;
  justify-content: space-between;
  width: 300px;
  color: #2c4755;
}

/*-------------------------------------------------------------------*/

footer {
  background-color: var(--secondary-color);
  height: 70px;
  display: flex;
  justify-content: center;
}

footer .div p {
  color: #fff;
  font-size: 1.1rem;
}

footer span {
  color: var(--main-color);
}

footer .div {
  width: 280px;
  display: flex;
  align-items: center;
}
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .about {
    .box {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
  .contnet-dez {
    display: none;
  }
  .portfolio {
    .box {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .card {
        width: 80%;
      }
    }
  }
  .aboutx {
    .container-text {
     
    }
    .box {
      margin: 40% 0 20% 0;
      flex-direction: column;
      align-items: center;
      padding-bottom: 4rem;
      .des {
        display: none;
      }
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}
